@font-face {
  font-family: "WremenaRegular";
  font-style: "regular";
  src: local("Wremena"), url(./fonts/WremenaRegular.woff) format("woff");
}

@font-face {
  font-family: "WremenaBold";
  font-style: bold;
  src: local("Wremena"), url(./fonts/WremenaBold.woff) format("woff");
}

@font-face {
  font-family: "WremenaLight";
  src: local("Wremena"), url(./fonts/WremenaLight.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .sidebar {
  position: fixed;
  top: 100px;
  left: -500px;
  width: 500px;
  height: 60%;
  background-color: #24384a;
  transition: left 700ms ease-out;
  border: solid 2px #e3b921;
}
.sidebar.active {
  left: 0;
}

.cta-button {
  border: none;
  right: 40px;
  outline: 0;
  width: auto;
  position: fixed;
  top: 100px;
  background-color: #24384a;
  font-family: "WremenaLight";
  color: #edbe44;
  padding: 20px;
} */

.overlay {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(37, 36, 36, 0.7);
  z-index: 100;
}

/* .button {
  font-family: "WremenaLight";

  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  z-index: 2;
  position: absolute;
} */

@keyframes ripple {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

/* .circle {
  border: none;
  width: 80px;
  height: 80px;
  padding: 10px;
  right: 40px;
  bottom: 10%;
  background-color: #edbe44;
} */

.wrapper-scroll {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  scroll-snap-type: y mandatory;
}

.scroll {
  scroll-snap-align: start;
  min-height: 100vh;
  /* scroll-snap-align: center; */
}
.scroll-stop {
  scroll-snap-align: end;
}

/* .ctaText {
  font-family: "WremenaRegular";
  font-size: 15px;
  color: #24384a;
  width: 60px;
} */

@media screen and (min-width: 1025px) {
  .circle {
    width: 120px;
    height: 120px;
    padding: 20px;
    right: 80px;
    bottom: 10%;
  }

  /* .ctaText {
    font-family: "WremenaRegular";
    color: #24384a;
    width: 80px;
    font-size: 20px;
    padding-right: 90px;
  } */
}
